#team {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

#team .wrapper {
	width: 20%;
	border: 1px solid #333;
	padding: 10px;
}

.bio {
	text-align: left;
}

.feature {
	float: right;
}

.image {
	max-width:50%;
	border-radius: 50%;
}

.role {
	float: left;
	margin: 0 5px;
	padding: 1px 10px;
	color: #fff;
}